.wspeak-skin {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	.wspeak-error-screen {
		display: none;
	    width: 100%;
	    height: 100%;
	    justify-content: center;
	    align-items: center;	
	    background-color: black;
	    text-align: center;
	    .wspeak-error-text {
	    	font-size: 16px;	
	    	color: white;
	    	justify-content: center;
	    }
	    p {
	    	padding: 0 20px;
	    	font-size: 13px;
	    	color: white;
	    }

	}
	.wspeak-record {
	    font-size: 16px;
	    display: none;
	    color: red;
	    justify-content: center;
	    /* align-content: center; */
	    height: 100%;
	    align-items: center;	
	    &.show {
			display: flex;
	    }	
	    &.hide {
			display: none;
	    }		    
	}
	#wspeak-blink {
	  -webkit-animation: blink 2s linear infinite;
	  animation: blink 2s linear infinite;
	}
	@-webkit-keyframes blink {
	  50% { color: rgb(255, 0, 0); }
	  51% { color: rgba(255, 0, 0, 0); }
	  100% { color: rgba(255, 0, 0, 0); }
	}
	@keyframes blink {
	  50% { color: rgb(255, 0, 0); }
	  51% { color: rgba(255, 0, 0, 0); }
	  100% { color: rgba(255, 0, 0, 0); }
	}	
	.wspeak-control-panel {
		position: absolute;
		background: rgba(0,0,0,.8);
		width: 100%;
		height: 40px;
		bottom: 0;
		.wspeak-play-pause {
			// left: 10px;
			.wspeak-button {
				left: 10px;
			}
		}
		.wspeak-fullscreen {
			right: 10px;
			.wspeak-button {
				right: 10px;
			}
		}
		.wspeak-button {
			position: absolute;
			width: 30px;
			height: 30px;	
			bottom: 5px;					
		}
		svg {
			cursor: pointer;
			width: 30px;
			height: 30px;
			path {
				fill: white;
			}

			&:hover {
				path {
					fill: #f28b00;
				}
			}
		}	
	}
	.wspeak-area {
	    width: 100%;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;	
	    background-color: black;
	    .wspeak-title-text	{
		    position: absolute;
		    color: white;
		    top: 10%;
		    padding: 0 20px;
		    font-size: 20px;
		    text-align: center;
	    }
		.wspeak-big-play-button {
		    font-size: 3em;
		    line-height: 41px;
		    height: 41px;
		    width: 86px;
		    display: block;
		    padding: 0;
		    cursor: pointer;
		    opacity: 1;
		    border: .06666em solid #fff;
		    background-color: #2b333f;
		    background-color: rgba(43,51,63,.7);
		    border-radius: .3em;
		    transition: all .4s;			
			.wspeak-big-play-icon {
				display: flex;
				height: 100%;
				justify-content: center;
				align-items: center;				
				svg {
					cursor: pointer;
				    width: 17px;
				    height: 17px;
				    path {
				    	fill: white;
				    }
				}
			}
		}
		&:hover {
			.wspeak-big-play-button {
				border-color: #fff;
				background-color: #73859f;
				background-color: rgba(115,133,159,.5);
				transition: all 0s;				
			}

		}
	}

}