<h3 class='wspeak-record' id='wspeak-blink'>Идет запись...</h3>
<div class='wspeak-control-panel'>
	<div class='wspeak-play-pause'>
		<div class='wspeak-button wspeak-publish-button'></div>
		<div class='wspeak-button wspeak-play-button'></div>
		<div class='wspeak-button wspeak-stop-button'></div>
	</div>
	<div class='wspeak-fullscreen'>
		<div class='wspeak-button wspeak-fs-button'></div>
	</div>	
</div>
<div class='wspeak-area'>
	<div class='wspeak-title-text'>Для воспроизведения видео нажмите на Play</div>
	<div class='wspeak-big-play-button'>
		<div class='wspeak-big-play-icon'></div>
	</div>		
</div>
<div class='wspeak-error-screen'>
	<div>
		<h3 class='wspeak-error-text'></h3>
		<p>Проверьте работоспособность микрофона/видеокамеры и перезагрузите страницу</p>
	</div>
</div>